* {
    margin: 0;
    padding: 0
}

h1{
    width:100%;
    text-align: center;
    font-family: helvetica;
    font-size:60px;
    height:300px;   
    line-height: 300px;
    transition: all ease 1s;
}
h1:hover{
    width:100%;
    color:dodgerblue;
    text-align: center;
    font-family: helvetica;
    font-size:60px;
    height:500px;   
    line-height: 500px;
    transition: all ease 1s;
}